.aboutus {
  /* border: 2px solid; */
}
.aboutus > .button {
  display: flex;
  justify-content: end;
  padding-right: 30px;
}
.aboutus > .button > button {
  padding-inline: 30px;
  padding-block: 5px;
  border-radius: 56px;
  margin-bottom: 20px;
}
.aboutus > .box {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  margin-left: 56px;
  border-radius: 20px;
  width: 93%;
  padding-block: 20px;
  border: 2px solid #ba0e0e;
  margin-bottom: 50px;
}
.aboutus > .box > .title > h2 {
  font-size: 1.2rem;
  margin-left: 24px;
  position: relative;
  margin-bottom: 20px;
}
.aboutus > .box > .title > h2::after {
  border: 2px solid #ba0e0e;
  content: "";
  position: absolute;
  width: 7%;
  bottom: -3px;
  left: 3px;
  border-radius: 30px;
}
.aboutus > .box > .list {
  /* border: 2px solid; */
  display: flex;
  margin-left: 24px;
}
.aboutus > .box > .list > ul > li > span {
  font-size: 1.2rem;
  font-weight: 700;
}
.aboutus > .box > .list > ul > li > p {
  font-size: 0.8rem;
  color: rgb(177, 176, 176);
}
