@import "../../common/color.scss";
.navBar {
  //   border: 2px solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $secondary-color;
  padding-left: 10px;
  padding-right: 10px;
  padding-block: 10px;
  font-size: 2.4rem;
}
.navBar > img {
  width: 3%;
}
